<div class="container">
  <h3>Liste des échanges que vous avez demandé</h3>
  <hr>
  <div id="parent-echange-demande" class="row flex">
    <div class="col-md-3">
      <div class="nav flex-column nav-pills border-vos-echanges" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#tab-en-attente" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fas fa-user-clock"></i> En attente</a>

        <a class="nav-link" style="color:#FDB631;" id="v-pills-home-tab" data-toggle="pill" href="#tab-en-cours" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fas fa-spinner"></i> En cours</a>

        <a class="nav-link" style="color:#32B796;" id="v-pills-profile-tab" data-toggle="pill" href="#tab-finit" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fas fa-check"></i> Finit</a>

        <a class="nav-link" style="color:#EE5F5B;" id="v-pills-messages-tab" data-toggle="pill" href="#tab-en-conflit" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fas fa-exclamation-triangle"></i> En conflit</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="tab-content panel-vos-echanges panel-vos-echanges border-vos-echanges" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="tab-en-attente" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <p class='echange-tab-title'><i class="fas fa-bars"></i> Liste des demandes d'échange en attente dacceptation par l'utilisateur</p>
          <hr class='echange-tab-title'>
          <% @echanges_demande_user.each do |echange| %>
            <% if echange.status == 'en_attente' %>
              <div class="row">
                <div class="col-md-12">
                  <a class="btn btn-outline-secondary mb-3 w-100" data-toggle="collapse" href="#echange-<%= echange.id %>" role="button" aria-expanded="false" aria-controls="collapse">
                    <i class="fas fa-exchange-alt"></i> Echange de votre <b><%= echange.objetdemandeur_titre  %></b> contre <b><%= echange.user_echange_annonce.titre %></b> avec <b><%= echange.user_echange.pseudo %></b>
                  </a>
                  <div class="collapse mb-3" id="echange-<%= echange.id %>">
                    <div class="card card-body">
                      <p><b>Status :</b> <i class="far fa-clock"></i> En attente d'acceptation de <b><%= echange.user_echange.pseudo %></b></p>
                      <hr class='echange-tab-title'>
                      <div class="row flex">
                        <div class="col-md-4 img-echange">
                          <%= cl_image_tag echange.objetdemandeur_photo1, alt: "Image", class: 'card-img-top', width: 0.35, crop: :scale %>
                        </div>
                        <div class="col-md-8 details-echange">
                        <p><b>Proposition :</b> En échange de son <b><%= echange.user_echange_annonce.titre %></b> vous avez proposé à <b><%= echange.user_echange.pseudo %></b> votre <b><%= echange.objetdemandeur_titre %></b></p>
                        <p><b>Description de l'objet :</b> <%= echange.objetdemandeur_desc %></p>
                        </div>
                      </div>
                      <hr>
                      <div class="echange-actions flex">
                        <%= link_to conversations_path(sender_id: current_user, recipient_id: echange.user_echange), title: 'Envoyer un message', method: 'post', class: 'btn btn-outline-primary' do %>
                          <i class="fas fa-paper-plane"></i> Envoyer un message à <b><%= echange.user_echange.pseudo %></b>
                        <% end %>
                        <%= link_to annonce_path(echange.user_echange_annonce), title: "Voir l'annonce", class: 'btn btn-outline-success' do %>
                            <i class="fas fa-eye"></i> Voir l'annonce de <b><%= echange.user_echange.pseudo %></b>
                        <% end %>
                        <%= link_to echange_path(echange), method: :delete, title: "Supprimer l'échange", data: { confirm: "Etes vous sur de vouloir supprimer cet échange ?" }, class: 'btn btn-outline-danger' do %>
                            <i class="fas fa-times"></i> Annuler cette proposition
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="tab-pane fade show" id="tab-en-cours" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <p class='echange-tab-title'><i class="fas fa-bars"></i> Liste des demandes d'échange en cours d'échange</p>
          <hr class='echange-tab-title'>
          <% @echanges_demande_user.each do |echange| %>
            <% if echange.status == 'en_cours' %>
              <div class="row">
                <div class="col-md-12">
                  <a class="btn btn-outline-warning mb-3 w-100" data-toggle="collapse" href="#echange-<%= echange.id %>" role="button" aria-expanded="false" aria-controls="collapse">
                    <i class="fas fa-exchange-alt"></i> Echange de votre <b><%= echange.objetdemandeur_titre  %></b> contre <b><%= echange.user_echange_annonce.titre %></b> avec <b><%= echange.user_echange.pseudo %></b>
                  </a>
                  <div class="collapse mb-3" id="echange-<%= echange.id %>">
                    <div class="card card-body">
                      <p><b>Status :</b> <span class='text-warning'><b><%= echange.user_echange.pseudo %></b> à accepté votre demande d'échange, vous pouvez procéder à l'échange</span></p>
                      <%= link_to echange_path(echange), title: 'Echange finit', class: 'btn btn-outline-success' do %>
                          <i class="fas fa-check-circle"></i> J'ai reçu l'objet de <b><%= echange.user_echange.pseudo %></b>, l'échange est finit
                      <% end %>
                      <hr>
                      <div class="row flex">
                        <div class="col-md-4 img-echange">
                          <%= cl_image_tag echange.objetdemandeur_photo1, alt: "Image", class: 'card-img-top', width: 0.35, crop: :scale %>
                        </div>
                        <div class="col-md-8 details-echange">
                        <p><b>Proposition :</b> En échange de son <b><%= echange.user_echange_annonce.titre %></b> vous avez proposé à <b><%= echange.user_echange.pseudo %></b> votre <b><%= echange.objetdemandeur_titre %></b></p>
                        <p><b>Description de l'objet :</b> <%= echange.objetdemandeur_desc %></p>
                        </div>
                      </div>
                      <hr>
                      <div class="echange-actions flex">
                        <%= link_to conversations_path(sender_id: current_user, recipient_id: echange.user_echange), title: 'Envoyer un message', method: 'post', class: 'btn btn-outline-primary' do %>
                          <i class="fas fa-paper-plane"></i> Envoyer un message à <b><%= echange.user_echange.pseudo %></b>
                        <% end %>
                        <%= link_to annonce_path(echange.user_echange_annonce), title: "Voir l'annonce", class: 'btn btn-outline-success' do %>
                            <i class="fas fa-eye"></i> Voir l'annonce de <b><%= echange.user_echange.pseudo %></b>
                        <% end %>
                        <%= link_to echange_path(echange), method: :delete, title: "Supprimer l'échange", data: { confirm: "Etes vous sur de vouloir supprimer cet échange ?" }, class: 'btn btn-outline-danger' do %>
                            <i class="fas fa-times"></i> Annuler cette proposition
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="tab-pane fade" id="tab-finit" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <p class='echange-tab-title'><i class="fas fa-bars"></i> Liste des demandes d'échange terminé sans conflits</p>
          <hr class='echange-tab-title'>
          <% @echanges_demande_user.each do |echange| %>
            <% if echange.status == 'finit' %>
              <div class="row">
                <div class="col-md-12">
                  <a class="btn btn-outline-success mb-3 w-100" data-toggle="collapse" href="#echange-<%= echange.id %>" role="button" aria-expanded="false" aria-controls="collapse">
                    <i class="fas fa-exchange-alt"></i> Echange de votre <b><%= echange.objetdemandeur_titre  %></b> contre <b><%= echange.user_echange_annonce.titre %></b> avec <b><%= echange.user_echange.pseudo %></b>
                  </a>
                  <div class="collapse mb-3" id="echange-<%= echange.id %>">
                    <div class="card card-body">
                      <p><b>Status :</b> <span class='text-success'><i class="fas fa-check"></i> Votre échange avec <b><%= echange.user_echange.pseudo %></b> est finit</span></p>
                      <%= link_to echange_path(echange), title: 'Echange finit', class: 'btn btn-outline-danger' do %>
                          <i class="fas fa-exclamation-triangle"></i> Signaler un problème
                      <% end %>
                      <hr>
                      <div class="row flex">
                        <div class="col-md-4 img-echange">
                          <%= cl_image_tag echange.objetdemandeur_photo1, alt: "Image", class: 'card-img-top', width: 0.35, crop: :scale %>
                        </div>
                        <div class="col-md-8 details-echange">
                        <p><b>Proposition :</b> En échange de son <b><%= echange.user_echange_annonce.titre %></b> vous avez proposé à <b><%= echange.user_echange.pseudo %></b> votre <b><%= echange.objetdemandeur_titre %></b></p>
                        <p><b>Description de l'objet :</b> <%= echange.objetdemandeur_desc %></p>
                        </div>
                      </div>
                      <hr>
                      <div class="echange-actions flex">
                        <%= link_to conversations_path(sender_id: current_user, recipient_id: echange.user_echange), title: 'Envoyer un message', method: 'post', class: 'btn btn-outline-primary' do %>
                          <i class="fas fa-paper-plane"></i> Envoyer un message à <b><%= echange.user_echange.pseudo %></b>
                        <% end %>
                        <%= link_to annonce_path(echange.user_echange_annonce), title: "Voir l'annonce", class: 'btn btn-outline-success' do %>
                            <i class="fas fa-eye"></i> Voir l'annonce de <b><%= echange.user_echange.pseudo %></b>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="tab-pane fade" id="tab-en-conflit" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <p class='echange-tab-title'><i class="fas fa-bars"></i> Liste des demandes d'échange en conflit</p>
          <hr class='echange-tab-title'>
          <% @echanges_demande_user.each do |echange| %>
            <% if echange.status == 'en_conflit' %>
              <div class="row">
                <div class="col-md-12">
                  <a class="btn btn-outline-danger mb-3 w-100" data-toggle="collapse" href="#echange-<%= echange.id %>" role="button" aria-expanded="false" aria-controls="collapse">
                    <i class="fas fa-exchange-alt"></i> Echange de votre <b><%= echange.objetdemandeur_titre  %></b> contre <b><%= echange.user_echange_annonce.titre %></b> avec <b><%= echange.user_echange.pseudo %></b>
                  </a>
                  <div class="collapse mb-3" id="echange-<%= echange.id %>">
                    <div class="card card-body">
                      <p><b>Status :</b> <span class='text-danger'><i class="fas fa-exclamation-triangle"></i> En conflit avec <b><%= echange.user_echange.pseudo %></b></span></p>
                      <hr class='echange-tab-title'>
                      <div class="row flex">
                        <div class="col-md-4 img-echange">
                          <%= cl_image_tag echange.objetdemandeur_photo1, alt: "Image", class: 'card-img-top', width: 0.35, crop: :scale %>
                        </div>
                        <div class="col-md-8 details-echange">
                        <p><b>Proposition :</b> En échange de son <b><%= echange.user_echange_annonce.titre %></b> vous avez proposé à <b><%= echange.user_echange.pseudo %></b> votre <b><%= echange.objetdemandeur_titre %></b></p>
                        <p><b>Description de l'objet :</b> <%= echange.objetdemandeur_desc %></p>
                        </div>
                      </div>
                      <hr>
                      <div class="echange-actions flex">
                        <%= link_to conversations_path(sender_id: current_user, recipient_id: echange.user_echange), title: 'Envoyer un message', method: 'post', class: 'btn btn-outline-primary' do %>
                          <i class="fas fa-paper-plane"></i> Envoyer un message à <b><%= echange.user_echange.pseudo %></b>
                        <% end %>
                        <%= link_to annonce_path(echange.user_echange_annonce), title: "Voir l'annonce", class: 'btn btn-outline-success' do %>
                            <i class="fas fa-eye"></i> Voir l'annonce de <b><%= echange.user_echange.pseudo %></b>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <h3>Liste des échanges que d'autres utilisateurs vous ont demandé</h3>
  <hr>
<div id="parent-echange-demande" class="row flex">
    <div class="col-md-3">
      <div class="nav flex-column nav-pills border-vos-echanges" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#tab-autre-en-attente" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fas fa-user-clock"></i> En attente</a>

        <a class="nav-link" style="color:#FDB631;" id="v-pills-home-tab" data-toggle="pill" href="#tab-autre-en-cours" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fas fa-spinner"></i> En cours</a>

        <a class="nav-link" style="color:#32B796;" id="v-pills-profile-tab" data-toggle="pill" href="#tab-autre-finit" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fas fa-check"></i> Finit</a>

        <a class="nav-link" style="color:#EE5F5B;" id="v-pills-messages-tab" data-toggle="pill" href="#tab-autre-en-conflit" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fas fa-exclamation-triangle"></i> En conflit</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="tab-content panel-vos-echanges border-vos-echanges" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="tab-autre-en-attente" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <p class='echange-tab-title'><i class="fas fa-bars"></i> Liste des demandes d'échange en attente de votre acceptation</p>
          <hr class='echange-tab-title'>
          <% @echanges_demande_autre_user.each do |echange| %>
            <% if echange.status == 'en_attente' %>
              <div class="row">
                <div class="col-md-12">
                  <a class="btn btn-outline-secondary mb-3 w-100" data-toggle="collapse" href="#echange-<%= echange.id %>" role="button" aria-expanded="false" aria-controls="collapse">
                    <i class="fas fa-exchange-alt"></i> Echange de votre <b><%= echange.user_echange_annonce.titre %></b> contre <b><%= echange.objetdemandeur_titre  %></b> avec <b><%= echange.user_echange.pseudo %></b>
                  </a>
                  <div class="collapse mb-3" id="echange-<%= echange.id %>">
                    <div class="card card-body">
                      <p><b>Status :</b> <i class="far fa-clock"></i> En attente d'acceptation de votre part</p>
                      <div class="echange-actions flex">
                        <%= link_to annonce_path(echange.user_echange_annonce), title: "Accepter l'échange", class: 'btn btn-outline-success' do %>
                            <i class="fas fa-check"></i> Accepter l'échange
                        <% end %>
                        <%= link_to annonce_path(echange.user_echange_annonce), title: "Refuser l'échange", class: 'btn btn-outline-danger' do %>
                            <i class="fas fa-times"></i> Refuser l'échange
                        <% end %>
                      </div>
                      <hr>
                      <div class="row flex">
                        <div class="col-md-8 details-echange">
                        <p><b>Proposition :</b> En échange de votre <b><%= echange.user_echange_annonce.titre %></b>, <b><%= echange.user_echange.pseudo %></b> vous propose <b><%= echange.objetdemandeur_titre %></b></p>
                        <p><b>Description de l'objet :</b> <%= echange.objetdemandeur_desc %></p>
                        </div>
                        <div class="col-md-4 img-echange">
                          <%= cl_image_tag echange.objetdemandeur_photo1, alt: "Image", class: 'card-img-top', width: 0.35, crop: :scale %>
                        </div>
                      </div>
                      <hr>
                      <div class="echange-actions flex">
                        <%= link_to conversations_path(sender_id: current_user, recipient_id: echange.user_echange), title: 'Envoyer un message', method: 'post', class: 'btn btn-outline-primary' do %>
                          <i class="fas fa-paper-plane"></i> Envoyer un message à <b><%= echange.user_echange.pseudo %></b>
                        <% end %>
                        <%= link_to annonce_path(echange.annonce_id), title: "Voir votre l'annonce", class: 'btn btn-outline-success' do %>
                            <i class="fas fa-eye"></i> Voir votre annonce
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="tab-pane fade show" id="tab-autre-en-cours" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <p class='echange-tab-title'><i class="fas fa-bars"></i> Liste des demandes d'échange en cour d'échange</p>
          <hr class='echange-tab-title'>
          <% @echanges_demande_autre_user.each do |echange| %>
            <% if echange.status == 'en_cours' %>
              <div class="row">
                <div class="col-md-12">
                  <a class="btn btn-outline-warning mb-3 w-100" data-toggle="collapse" href="#echange-<%= echange.id %>" role="button" aria-expanded="false" aria-controls="collapse">
                    <i class="fas fa-exchange-alt"></i> Echange de votre <b><%= echange.user_echange_annonce.titre %></b> contre <b><%= echange.objetdemandeur_titre  %></b> avec <b><%= echange.user_echange.pseudo %></b>
                  </a>
                  <div class="collapse mb-3" id="echange-<%= echange.id %>">
                    <div class="card card-body">
                      <p><b>Status :</b> <span class='text-warning'>Vous avez accepté la demande d'échange de <b><%= echange.user_echange.pseudo %></b>, vous pouvez procéder à l'échange</span></p>
                      <%= link_to echange_path(echange), title: 'Echange finit', class: 'btn btn-outline-success' do %>
                          <i class="fas fa-check-circle"></i> J'ai reçu l'objet de <b><%= echange.user_echange.pseudo %></b>, l'échange est finit
                      <% end %>
                      <hr>
                      <div class="row flex">
                        <div class="col-md-8 details-echange">
                        <p><b>Proposition :</b> En échange de votre <b><%= echange.user_echange_annonce.titre %></b>, <b><%= echange.user_echange.pseudo %></b> vous propose <b><%= echange.objetdemandeur_titre %></b></p>
                        <p><b>Description de l'objet :</b> <%= echange.objetdemandeur_desc %></p>
                        </div>
                        <div class="col-md-4 img-echange">
                          <%= cl_image_tag echange.objetdemandeur_photo1, alt: "Image", class: 'card-img-top', width: 0.35, crop: :scale %>
                        </div>
                      </div>
                      <hr>
                      <div class="echange-actions flex">
                        <%= link_to conversations_path(sender_id: current_user, recipient_id: echange.user_echange), title: 'Envoyer un message', method: 'post', class: 'btn btn-outline-primary' do %>
                          <i class="fas fa-paper-plane"></i> Envoyer un message à <b><%= echange.user_echange.pseudo %></b>
                        <% end %>
                        <%= link_to annonce_path(echange.annonce_id), title: "Voir votre l'annonce", class: 'btn btn-outline-success' do %>
                            <i class="fas fa-eye"></i> Voir votre annonce
                        <% end %>
                        <%= link_to echange_path(echange), method: :delete, title: "Supprimer l'échange", data: { confirm: "Etes vous sur de vouloir supprimer cet échange ?" }, class: 'btn btn-outline-danger' do %>
                            <i class="fas fa-times"></i> Annuler cet échange
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="tab-pane fade" id="tab-autre-finit" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <p class='echange-tab-title'><i class="fas fa-bars"></i> Liste des demandes d'échange terminé sans conflit</p>
          <hr class='echange-tab-title'>
          <% @echanges_demande_autre_user.each do |echange| %>
            <% if echange.status == 'finit' %>
              <div class="row">
                <div class="col-md-12">
                  <a class="btn btn-outline-success mb-3 w-100" data-toggle="collapse" href="#echange-<%= echange.id %>" role="button" aria-expanded="false" aria-controls="collapse">
                    <i class="fas fa-exchange-alt"></i> Echange de votre <b><%= echange.user_echange_annonce.titre %></b> contre <b><%= echange.objetdemandeur_titre  %></b> avec <b><%= echange.user_echange.pseudo %></b>
                  </a>
                  <div class="collapse mb-3" id="echange-<%= echange.id %>">
                    <div class="card card-body">
                      <p><b>Status :</b> <span class='text-success'><i class="fas fa-check"></i> Votre échange avec <b><%= echange.user_echange.pseudo %></b> est finit</span></p>
                      <%= link_to echange_path(echange), title: 'Echange finit', class: 'btn btn-outline-danger' do %>
                          <i class="fas fa-exclamation-triangle"></i> Signaler un problème
                      <% end %>
                      <hr>
                      <div class="row flex">
                        <div class="col-md-8 details-echange">
                        <p><b>Proposition :</b> En échange de votre <b><%= echange.user_echange_annonce.titre %></b>, <b><%= echange.user_echange.pseudo %></b> vous propose <b><%= echange.objetdemandeur_titre %></b></p>
                        <p><b>Description de l'objet :</b> <%= echange.objetdemandeur_desc %></p>
                        </div>
                        <div class="col-md-4 img-echange">
                          <%= cl_image_tag echange.objetdemandeur_photo1, alt: "Image", class: 'card-img-top', width: 0.35, crop: :scale %>
                        </div>
                      </div>
                      <hr>
                      <div class="echange-actions flex">
                        <%= link_to conversations_path(sender_id: current_user, recipient_id: echange.user_echange), title: 'Envoyer un message', method: 'post', class: 'btn btn-outline-primary' do %>
                          <i class="fas fa-paper-plane"></i> Envoyer un message à <b><%= echange.user_echange.pseudo %></b>
                        <% end %>
                        <%= link_to annonce_path(echange.annonce_id), title: "Voir votre l'annonce", class: 'btn btn-outline-success' do %>
                            <i class="fas fa-eye"></i> Voir votre annonce
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="tab-pane fade" id="tab-autre-en-conflit" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <p class='echange-tab-title'><i class="fas fa-bars"></i> Liste des demandes d'échange en conflit</p>
          <hr class='echange-tab-title'>
          <% @echanges_demande_autre_user.each do |echange| %>
            <% if echange.status == 'en_conflit' %>
              <div class="row">
                <div class="col-md-12">
                  <a class="btn btn-outline-danger mb-3 w-100" data-toggle="collapse" href="#echange-<%= echange.id %>" role="button" aria-expanded="false" aria-controls="collapse">
                    <i class="fas fa-exchange-alt"></i> Echange de votre <b><%= echange.user_echange_annonce.titre %></b> contre <b><%= echange.objetdemandeur_titre  %></b> avec <b><%= echange.user_echange.pseudo %></b>
                  </a>
                  <div class="collapse mb-3" id="echange-<%= echange.id %>">
                    <div class="card card-body">
                      <p><b>Status :</b> <span class='text-danger'><i class="fas fa-exclamation-triangle"></i> En conflit avec <b><%= echange.user_echange.pseudo %></b></span></p>
                      <hr class='echange-tab-title'>
                      <div class="row flex">
                        <div class="col-md-8 details-echange">
                        <p><b>Proposition :</b> En échange de votre <b><%= echange.user_echange_annonce.titre %></b>, <b><%= echange.user_echange.pseudo %></b> vous propose <b><%= echange.objetdemandeur_titre %></b></p>
                        <p><b>Description de l'objet :</b> <%= echange.objetdemandeur_desc %></p>
                        </div>
                        <div class="col-md-4 img-echange">
                          <%= cl_image_tag echange.objetdemandeur_photo1, alt: "Image", class: 'card-img-top', width: 0.35, crop: :scale %>
                        </div>
                      </div>
                      <hr>
                      <div class="echange-actions flex">
                        <%= link_to conversations_path(sender_id: current_user, recipient_id: echange.user_echange), title: 'Envoyer un message', method: 'post', class: 'btn btn-outline-primary' do %>
                          <i class="fas fa-paper-plane"></i> Envoyer un message à <b><%= echange.user_echange.pseudo %></b>
                        <% end %>
                        <%= link_to annonce_path(echange.user_echange_annonce), title: "Voir l'annonce", class: 'btn btn-outline-success' do %>
                            <i class="fas fa-eye"></i> Voir l'annonce de <b><%= echange.user_echange.pseudo %></b>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
