<% content_for :javascript_includes do %>
  <%= javascript_include_tag "echange.js" %>
<% end %>
<div class="container">
  <h3>Conversation avec <%= @message_to.pseudo %></h3>
  <hr>
  <% if @over_ten %>
     <%= link_to 'Show Previous', '?m=all' %>
  <% end %>

  <div class="form-messages d-none d-md-block">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
          <div class="my-3">
            <% if user == current_user %>
              <div class="message-sender">
                <div class="text-left">
                  <strong>Moi</strong> <span style="font-weight:lighter;"><%= message.message_time %></span>
                </div>
                <div class="text-left"><%= message.body %></div>
              </div>
            <% else %>
              <div class="message-receiver">
                <div class="text-right">
                  <strong><%= user.pseudo %></strong> <span style="font-weight:lighter;"><%= message.message_time %></span>
                </div>
                <div class="text-right"><%= message.body %></div>
              </div>
            <% end %>
          </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-messages d-block d-md-none">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
          <div class="my-3">
            <% if user == current_user %>
              <div class="message-sender">
                <div class="text-left">
                  <strong>Moi</strong> <span style="font-weight:lighter;"><%= message.message_time %></span>
                </div>
                <div class="text-left"><%= message.body %></div>
              </div>
            <% else %>
              <div class="message-receiver-mobile">
                <div class="text-right">
                  <strong><%= user.pseudo %></strong> <span style="font-weight:lighter;"><%= message.message_time %></span>
                </div>
                <div class="text-right"><%= message.body %></div>
              </div>
            <% end %>
          </div>
      <% end %>
    <% end %>
  </div>

  <%= simple_form_for [@conversation, @message], html: {class: "my-2"} do |f| %>
    <div class="input-group mb-3">
      <%= f.text_field :body, class: "form-control", placeholder: "Message..." %>
      <div class="input-group-append">
        <!-- <%= f.submit '<i class="far fa-paper-plane"></i> Send', class: "btn btn-outline-primary" %> -->
        <%= button_tag type: 'submit', class: "btn btn-outline-primary" do %>
                <i class="far fa-paper-plane"></i> Send
            <% end %>
      </div>
    </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <% end %>
  <div class="flex">
    <%= link_to '<i class="fas fa-exchange-alt"></i> Demander un échange'.html_safe, 'javascript:trigger_modal_echange()', class: "btn btn-outline-primary" %>
    <input type="hidden" id="user_id_receiver" value="<%= @message_to.id %>">
  </div>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', (event) => {
    <% if params[:action_annonce].present? && params[:action_annonce] == 'show_modal_echange' %>
      trigger_modal_echange();
    <% end %>
  })
</script>

<div class="modal fade" id="modal-echange" tabindex="-1" role="dialog" aria-labelledby="modal-echange-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-echange-title"><i class="fas fa-exchange-alt"></i> Demander un échange d'objet à <%= @message_to.pseudo %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="my-2 col-md-12">
          <select id="select-annonce" class="form-control" style="color:#469AE0;border:1px solid #469AE0;">
            <option>Séléctionnez une annonce</option>
            <% if !@message_to_annonces.nil? %>
              <% @message_to_annonces.each do |annonce| %>
                <option value="<%= annonce.id %>"><b><%= annonce.titre %></b> contre <b><%= annonce.contre %></b></option>
              <% end %>
            <% end %>
          </select>
        </div>
        <div class="row" id="details-annonce" style='display:none;padding:10px;'>
          <%= simple_form_for Echange.new do |f| %>
          <div class="col-md-12">
            <hr>
            <p>Vous avez séléctionnez : <span id="echange-selected-annonce"></span></p>
            <p>L'objet demandé pour cette échange est : <span class="objet-demande"></span></p>
            <hr>
            <div id='proposer-autre-objet' style="display:none;">
              <p><b><%= @message_to.pseudo %></b> est ouvert à d'autres propositions d'objets, souhaitez vous proposer un autre objet ?</p>
              <div class="flex-center">
                <button id="btn-non-autre-objet" class="ml-1 mr-1 btn btn-outline-danger btn-block">Non</button>
                <button id="btn-oui-autre-objet" class="ml-1 mr-1 btn btn-outline-success btn-block">Oui</button>
              </div>
            </div>
            <div id='objet-contre' style="display:none;">
              <p>Veuillez renseigné le nom de l'bojet que vous échangez :</p>
              <input type="text" id="objetdemandeur_titre" class="form-control mb-3" name="objetdemandeur_titre" value="" required="true" disabled>
              <p>Veuillez télécharger au moins une image de votre <span class="objet-demande"></span> : </p>
              <%= f.error_notification %>
              <%= f.input :objetdemandeur_photo1, label: false, required: true %>
              <%= f.input :objetdemandeur_photo2, label: false, required: false %>
              <%= f.input :objetdemandeur_photo3, label: false, required: false %>
              <p>Type d'échange (choisir parmis les types d'échange acceptés l'utilisateur): </p>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="modal-typeechange-main">
                <label class="form-check-label" for="modal-typeechange-main">
                  Remise en main propre
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="modal-typeechange-poste">
                <label class="form-check-label" for="modal-typeechange-poste">
                  Envoie par la poste (requière une empreinte bancaire, échange sécurisé)
                </label>
              </div>
              <input type="hidden" name="demandeur_id" id="modal-demandeurid-value" value="<%= current_user.id %>">
              <input type="hidden" name="proprietaire_id" id="modal-propietaireid-value" value="<%= @message_to.id %>">
              <input type="hidden" name="annonce_id" id="modal-annonceid-value" value="">
              <input type="hidden" name="typeechange" id="modal-typeechange-value" value="">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" id="modal-footer" style="display:none;">
        <%= button_tag type: 'submit', class: "btn btn-outline-success btn-block", id: 'modal-submit' do %>
          <i class='fas fa-check'></i> Demander un échange pour cet objet
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
