<div class="container">
  <h3>Conversation avec <%= @message_to.pseudo %></h3>
  <hr>
  <% if @over_ten %>
     <%= link_to 'Show Previous', '?m=all' %>
  <% end %>

  <div class="form-messages d-none d-md-block">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
          <div class="my-3">
            <% if user == current_user %>
              <div class="message-sender">
                <div class="text-left">
                  <strong>Moi</strong> <span style="font-weight:lighter;"><%= message.message_time %></span>
                </div>
                <div class="text-left"><%= message.body %></div>
              </div>
            <% else %>
              <div class="message-receiver">
                <div class="text-right">
                  <strong><%= user.pseudo %></strong> <span style="font-weight:lighter;"><%= message.message_time %></span>
                </div>
                <div class="text-right"><%= message.body %></div>
              </div>
            <% end %>
          </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-messages d-block d-md-none">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
          <div class="my-3">
            <% if user == current_user %>
              <div class="message-sender">
                <div class="text-left">
                  <strong>Moi</strong> <span style="font-weight:lighter;"><%= message.message_time %></span>
                </div>
                <div class="text-left"><%= message.body %></div>
              </div>
            <% else %>
              <div class="message-receiver-mobile">
                <div class="text-right">
                  <strong><%= user.pseudo %></strong> <span style="font-weight:lighter;"><%= message.message_time %></span>
                </div>
                <div class="text-right"><%= message.body %></div>
              </div>
            <% end %>
          </div>
      <% end %>
    <% end %>
  </div>

  <%= simple_form_for [@conversation, @message], html: {class: "my-2"} do |f| %>
    <div class="input-group mb-3">
      <%= f.text_field :body, class: "form-control", placeholder: "Message..." %>
    <div class="input-group-append">
      <%= f.submit 'Send', class: "btn btn-outline-primary" %>
    </div>
    </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <% end %>
</div>
