<div class="container">
  <h2>Vos informations</h2>
  <hr>
  <div class="form-devise">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <%= f.input :pseudo, disabled: true, autofocus: true, label: "Pseudo" %>
          <%= f.input :first_name, disabled: true, autofocus: true, label: "Prénom" %>
          <%= f.input :last_name, disabled: true, autofocus: true, label: "Nom" %>
          <%= f.input :email, disabled: true, autofocus: true %>
          <%= f.input :phone, required: true, autofocus: true, label: "Téléphone", error: 'Vous devez enter un numéro de téléphone.' %>
          <hr>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>En attente de confirmation pour: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :password, autocomplete: "off", placeholder: "Laisser vide si vous ne souhaitez pas le changer", required: false, label: 'Mot de passe' %>
          <%= f.input :password_confirmation, required: false, placeholder: "Laisser vide si vous ne souhaitez pas le changer", label: 'Confirmation mot de passe' %>
          <hr>
          <%= f.input :current_password, placeholder: "Nous avons besoin de votre mot de passe actuel pour effectuer les changements", required: true, label: 'Mot de passe actuel', error: 'Nous avons besoin de votre mot de passe actuel pour effectuer les changements.' %>
          <%= f.button :submit, "Mettre à jour", class: "btn btn-success" %>
        <% end %>

        <hr>

        <%= link_to "Supprimer mon compte", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete %>
  </div>
</div>
