<div class="content-home">
  <div class="banner" style="background-image: url('/assets/banner-home.jpg');">
    <div class="banner-content">
<!-- <h3><span id="home-search-text"></span></h3> -->
      <div class="container">
        <div class="form-search">
          <h3>Trouvez des objets à échanger sur Lebontroc</h3>
          <p>Faites une recherche pour trouver des annonces ou voir les propositions pour un objet que vous souhaitez échanger.</p>
          <%= simple_form_for :search, url: annonces_path, method: :get, class: 'form-inline' do |f| %>
            <p>Que recherchez vous ?</p>
            <%= f.input :produit, required: true, autofocus: true, label: false, placeholder: 'Exemple: Iphone X' %>
            <%= f.input :where, collection: {"Voir les annonces pour ce produit" => 1, "Voir les offres pour un produit que vous voulez échanger" => 2}, label:false, required: true %>
            <%= f.button :submit, "Rechercher", class: 'btn btn-primary btn-lg btn-search-home', style: 'width:100%'%>
          <% end %>
          <a href="#description" title="En savoir plus"><i class="far fa-arrow-alt-circle-down"></i></a>
        </div>
      </div>
    </div>
  </div>

  <% if @annonces.nil? %>
  <% else %>
    <div class="container description-home">
      <h3>Les dernières annonces</h3>
      <hr>
      <div class="flex-cards-home">
        <% @annonces.each do |annonce| %>
          <div class="card card-spacing-home standard-hover-shadow" style="width: 18rem;">
            <img class="card-img-top" src="<%= annonce.photo %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= annonce.titre %> contre <%= annonce.contre %></h5>
              <p class="card-text"><%= annonce.description.first(20) %>...</p>
              <%= link_to "Voir l'annonce", annonce_path(annonce), class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
  <% end %>

    <h3 id="description">Echanger avec Lebontroc</h3>
    <hr>
    <div class="flex-cards-description-home">

      <div class="card bg-light mb-3 standard-hover-shadow" style="max-width: 18rem;">
        <div class="card-header"><i class="fab fa-angellist" style="color: #469AE0;"></i> Simple</div>
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-caret-right" style="color: #469AE0;"></i> Simple</h5>
            <p class="card-text">Grace à Lebontroc vous avez accès à une plateforme d'échange simple et intuitive.</p>
          </div>
      </div>

      <div class="card bg-light mb-3 standard-hover-shadow" style="max-width: 18rem;">
        <div class="card-header"><i class="fa fa-forward" style="color: #469AE0;"></i> Rapide</div>
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-caret-right" style="color: #469AE0;"></i> Rapide</h5>
            <p class="card-text">Une fois votre annonce selectionné vous pouvez rapidement contacter l'auteur de l'annonce pour conclure un échange.</p>
          </div>
      </div>

      <div class="card bg-light mb-3 standard-hover-shadow" style="max-width: 18rem;">
        <div class="card-header"><i class="fa fa-check" style="color: #469AE0;"></i> Sécurisé</div>
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-caret-right" style="color: #469AE0;"></i> Sécurisé</h5>
            <p class="card-text">Une fois l'échange conclus vous pouvez rapidement procéder à l'échange soit en main propre soit par envoie postal avec notre système de caution qui empèche les anarques.</p>
          </div>
      </div>

    </div>
  </div>
</div>
