<div class="container">
  <h1>Modifier votre annonce</h1>
  <hr>
  <%= simple_form_for @annonce do |f| %>
  <%= f.error_notification %>
    <div class="form-group">
        <%= f.label :titre, 'Que voulez vous échanger ?' %>
        <%= f.text_field :titre, class: "form-control", required: true, error: 'Vous devez renseigner un titre.' %>
    </div>
    <div class="form-group">
        <%= f.label :description, 'Description de votre produit' %>
        <%= f.text_area :description, class: "form-control", required: true, error: 'Vous devez renseigner une description.' %>
    </div>
    <div class="form-group">
        <%= f.label :raison, 'Pourquoi voulez vous échanger ce produit ?' %>
        <%= f.text_area :raison, class: "form-control", placeholder: 'Exemple: Je n\'utilise plus ce téléphone..', required: true, error: 'Vous devez renseigner une raison.' %>
    </div>
    <div class="form-group">
        <%= f.label :contre, 'Que désirez vous en échange ?' %>
        <%= f.text_field :contre, class: "form-control", required: true, error: 'Vous devez renseigner l\'objet que vous désirez en échange.' %>
    </div>
    <hr>
    <div class="form-group">
      <%= f.label :photo, 'Choissisez une photo de votre produit depuis votre ordinateur: (175x130)', required: true, error: 'Vous devez mettre une photo de votre produit.' %>
      <%= f.input :photo, label: false %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>
    <hr>
    <div class="form-group">
        <%= f.input :autrepropositions, class: "form-control", label: 'Laisser les utilisateur vous proposez d\'autres objets en échange ?', :as => :boolean%>
    </div>
    <hr>
    <%= f.submit "Mettre l'annonce à jour", data: {confirm: "Une fois l'annonce modifié, elle sera soumise à une nouvelle vérification de la part de notre staff et ne sera plus disponible sur le site jusqu'a sa vérification, etes vous sur de vouloir la modifier ?"}, class: "btn btn-primary" %>
<!--     <div style="padding-top:10px;">
      <p><i class="fa fa-list"></i> <%= link_to "Retour à vos annonces",  vos_annonces_path %> | <i class="fa fa-history"></i> <%= link_to "Retour aux annonces",  annonces_path %></p>
    </div> -->
  <% end %>
</div>
