<div class="container">
  <div class="flex">
    <h3><%= @annonces_page_title %> (<%= @annonces_count %>)</h3>
<!--     <div class="filters-annonces">
      <div class="btn-group" style="margin-top:25px;">
        <button type="button" class="btn btn-primary">Filtres</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to "Les plus récente en premier", annonces_path, controller: :annonces_controller, action: :filtre_recent %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to "Les plus vieille en premier", annonces_path, controller: :annonces_controllers, action: :filtre_vieux %></li>
        </ul>
      </div>
    </div> -->
  </div>
  <hr>
  <div class="d-none d-md-block">
    <% if !@annonces.nil? %>
      <% @annonces.each do |annonce| %>
        <a href="<%= annonce_path(annonce) %>">
          <div class="product">
            <!-- <img src="<%= annonce.photo %>" alt="img" class="product-image d-none d-md-block"> -->
            <%= cl_image_tag annonce.photo, alt: "Image", crop: :scale, class: 'product-image d-none d-md-block'%>
            <div class='product-body'>
              <h3><%= annonce.titre %> contre <%= annonce.contre %></h3>
              <p><%= annonce.description.first(20) %>...</p>
              <br />
              <p <% if !annonce.autrepropositions %>style="display:none;"<% end %>><a>Cette personne est libre à d'autre propositions</a></p>
            </div>
            <ul class="list-inline product-controls product-controls-hidden hidden-sm d-none d-md-block">
              <!-- <li><%= link_to "", annonce_path(annonce), title: "Voir l'annonce", :class => "fa fa-eye" %></li> -->
              <li><a>Posté par <%= annonce.user.pseudo %> le <%= annonce.created_at.strftime("%d %B, %Y") %></a></li>
            </ul>
          </div>
        </a>
      <% end %>
    <% end %>
  </div>

  <div class="d-block d-md-none">
    <div class="container description-home">
      <div class="flex-cards-home">
        <% if !@annonces.nil? %>
        <% @annonces.each do |annonce| %>
          <div class="card card-spacing-home standard-hover-shadow mb-3" style="width: 18rem;">
            <%= cl_image_tag annonce.photo, alt: "Image", class: 'card-img-top', width: 0.35, crop: :scale %>
            <div class="card-body">
              <h5 class="card-title"><%= annonce.titre %> contre <%= annonce.contre %></h5>
              <p class="card-text"><%= annonce.description.first(20) %>...</p>
              <%= link_to "Voir l'annonce", annonce_path(annonce), class: 'btn btn-block btn-primary', style: 'position:absolute;bottom:10px;left:14px;width:90%;' %>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
