<div class="container">
  <h3>Déposer une annonce</h3>
  <hr>
  <div class="form-standard">
    <%= simple_form_for @annonce do |f| %>
    <%= f.error_notification %>
      <div class="form-group">
        <%= f.label :titre, 'Que voulez vous échanger ?' %>
        <%= f.text_field :titre, class: "form-control", placeholder: 'Exemple: Iphone 7', required: true, error: 'Vous devez renseigner un titre.'  %>
      </div>
      <div class="form-group">
        <%= f.label :description, 'Description de votre produit' %>
        <%= f.text_area :description, class: "form-control", placeholder: 'Exemple: Bon état, quelque rayures..', required: true, error: 'Vous devez renseigner une description.' %>
      </div>
      <div class="form-group">
        <%= f.label :raison, 'Pourquoi voulez vous échanger ce produit ?' %>
        <%= f.text_area :raison, class: "form-control", placeholder: 'Exemple: Je n\'utilise plus ce téléphone..', required: true, error: 'Vous devez renseigner une raison.' %>
      </div>
      <div class="form-group">
        <%= f.label :contre, 'Que désirez vous en échange ?' %>
        <%= f.text_field :contre, class: "form-control", placeholder: 'Exemple: Samsung S8', required: true, error: 'Vous devez renseigner l\'objet que vous désirez en échange.' %>
      </div>
      <hr>
      <div class="form-group">
        <%= f.label :photo, 'Choissisez au moins une photo de votre produit depuis votre ordinateur: (minimum 1 photo)' %>
        <%= f.input :photo, label: false, required: true %>

        <%= f.input :photo2, label: false, required: false %>

        <%= f.input :photo3, label: false, required: false %>

      </div>
      <hr>
      <div class="form-group">
          <%= f.input :autrepropositions, class: "form-control", label: 'Laisser les utilisateur vous proposez d\'autres objets en échange ?', :as => :boolean %>
      </div>
      <hr>
      <div class="form-group">
        <p>Choisissez votre mode d'échange:</p>
        <p><%= f.radio_button :typeechange, '0' %> Seulement remise en main propre</p>
        <p><%= f.radio_button :typeechange, '1' %> Seulement par voie postal</p>
        <p><%= f.radio_button :typeechange, '2' %> Les deux</p>
      </div>
      <hr>
      <%= f.submit "Créer votre annonce", class: "btn btn-outline-primary" %>
    <% end %>
  </div>
</div>
