<div class="container">
  <h4><%= @annonce.titre %> contre <%= @annonce.contre %></h4>
  <p>Posté par <%= @annonce.user.pseudo %></p>
  <hr>
  <div id="slide-annonce-show" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#slide-annonce-show" data-slide-to="0" class="active"></li>
      <li data-target="#slide-annonce-show" data-slide-to="1"></li>
      <li data-target="#slide-annonce-show" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= cl_image_tag @annonce.photo, alt: "Image", class: 'd-block w-100', crop: :scale %>
      </div>
      <% if !@annonce.photo2.file.nil? %>
        <div class="carousel-item">
          <%= cl_image_tag @annonce.photo2, alt: "Image", class: 'd-block w-100', crop: :scale %>
        </div>
      <% end %>
      <% if !@annonce.photo3.file.nil? %>
        <div class="carousel-item">
          <%= cl_image_tag @annonce.photo3, alt: "Image", class: 'd-block w-100', crop: :scale %>
        </div>
      <% end %>
      <% if !@annonce.photo2.file.nil? %>
        <a class="carousel-control-prev" href="#slide-annonce-show" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Image précèdente</span>
        </a>
        <a class="carousel-control-next" href="#slide-annonce-show" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Image suivante</span>
        </a>
      <% end %>
    </div>
  </div>

  <hr>
  <h4>Description</h4>
  <p> <i class="fas fa-chevron-right"></i> <%= @annonce.description %></p>
  <hr>
  <h4>Raison(s)</h4>
  <p> <i class="fas fa-chevron-right"></i>  <%= @annonce.raison %></p>
  <hr>
  <h4>Mode(s) d'échange choisit par <%= @annonce.user.pseudo %> </h4>
  <p> <i class="fas fa-chevron-right"></i>  <%= @typeechange_list[@annonce.typeechange] %></p>
  <hr>
  <% if @annonce.autrepropositions %>
    <p> <i class="fas fa-chevron-right"></i> <%= @annonce.user.pseudo %> accepte d'autres propositions pour cet objet.</p>
  <% end %>
  <hr>
  <% if current_user %>
    <% if @annonce.user.pseudo != current_user.pseudo  %>
      <%= link_to 'Contacter cette personne', conversations_path(sender_id: current_user, recipient_id: @annonce.user), method: 'post', class: 'btn btn-primary'%>
    <% else %>
      <div class="alert alert-primary" role="alert">
        <strong><i class="fas fa-check"></i> Cette annonce vous appartient</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
  <% else %>
    <%= link_to 'Contacter cette personne', conversations_path(sender_id: current_user, recipient_id: @annonce.user), method: 'post', class: 'btn btn-primary'%>
  <% end %>
</div>
