<h1>Votre nouvelle annonce</h1>
<p><%= @annonce_titre %></p>
<p><%= @annonce_description %></p>
<p><%= @annonce_raison %></p>
<p><%= @annonce_contre %></p>
<p><%= @annonce_photo %></p>
<p><%= @annonce_autrepropositions %></p>
