<%= render 'admin/shared/navbar-admin' %>
<div class="container">
<%= link_to new_admin_user_path, class: "float-right btn btn-outline-primary btn-sm", style: 'color:white;' do %>
  <i class="fa fa-plus"></i> Nouvelle utilisateur
<% end %>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="all-users-tab" data-toggle="tab" href="#all-users" role="tab" aria-controls="all-users" aria-selected="true">Tout les utilisateurs</a>
      <a class="nav-item nav-link" id="classic-users-tab" data-toggle="tab" href="#classic-users" role="tab" aria-controls="classic-users" aria-selected="false">Utilisateurs</a>
      <a class="nav-item nav-link" id="admin-users-tab" data-toggle="tab" href="#admin-users" role="tab" aria-controls="admin-users" aria-selected="false">Administrateurs</a>
    </div>
  </nav>
  <div class="tab-content mt-3" id="nav-tabContent">
    <div class="tab-pane fade show active" id="all-users" role="tabpanel" aria-labelledby="all-users-tab">
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Pseudo</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Email</th>
            <th scope="col">Adresse</th>
            <th scope="col">Date inscription</th>
            <th scope="col">Admin</th>
            <th scope="col">|</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <th><%= user.id %></th>
            <td><%= user.pseudo %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.phone %></td>
            <td><%= user.email %></td>
            <td><%= user.adresse %>, <%= user.ville %>, <%= user.cp %></td>
            <td><%= user.created_at.strftime('%d/%m/%Y') %></td>
            <td><%= user.admin %></td>
            <td></td>
            <td class="flex">

  <!--             <%= link_to "", admin_users_modal_settings_path(user), method: :get, id: 'trigger-modal', title: "Voir les annonces de l'utilisateur", :class => "fa fa-eye" %> -->

              <%= link_to "", edit_admin_user_path(user), title: "Modifier l'utilisateur", :class => "fa fa-pencil-alt" %>
              <%= link_to "", admin_user_path(user), method: :delete, title: "Supprimer l'utilisateur", data: { confirm: "Etes vous sur de vouloir supprimer cette utilisateur ?" }, :class => "far fa-trash-alt"%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="tab-pane fade" id="classic-users" role="tabpanel" aria-labelledby="classic-users-tab">
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Pseudo</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Email</th>
            <th scope="col">Adresse</th>
            <th scope="col">Date inscription</th>
            <th scope="col">Admin</th>
            <th scope="col">|</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users_classic.each do |user| %>
          <tr>
            <th><%= user.id %></th>
            <td><%= user.pseudo %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.phone %></td>
            <td><%= user.email %></td>
            <td><%= user.adresse %>, <%= user.ville %>, <%= user.cp %></td>
            <td><%= user.created_at.strftime('%d/%m/%Y') %></td>
            <td><%= user.admin %></td>
            <td></td>
            <td class="flex">

  <!--             <%= link_to "", admin_users_modal_settings_path(user), method: :get, id: 'trigger-modal', title: "Voir les annonces de l'utilisateur", :class => "fa fa-eye" %> -->

              <%= link_to "", edit_admin_user_path(user), title: "Modifier l'utilisateur", :class => "fa fa-pencil-alt" %>
              <%= link_to "", admin_user_path(user), method: :delete, title: "Supprimer l'utilisateur", data: { confirm: "Etes vous sur de vouloir supprimer cette utilisateur ?" }, :class => "far fa-trash-alt"%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="tab-pane fade" id="admin-users" role="tabpanel" aria-labelledby="admin-users-tab">
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Pseudo</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Email</th>
            <th scope="col">Adresse</th>
            <th scope="col">Date inscription</th>
            <th scope="col">Admin</th>
            <th scope="col">|</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users_admin.each do |user| %>
          <tr>
            <th><%= user.id %></th>
            <td><%= user.pseudo %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.phone %></td>
            <td><%= user.email %></td>
            <td><%= user.adresse %>, <%= user.ville %>, <%= user.cp %></td>
            <td><%= user.created_at.strftime('%d/%m/%Y') %></td>
            <td><%= user.admin %></td>
            <td></td>
            <td class="flex">
              <%= link_to "", edit_admin_user_path(user), title: "Modifier l'utilisateur", :class => "fa fa-pencil-alt" %>
              <%= link_to "", admin_user_path(user), method: :delete, title: "Supprimer l'utilisateur", data: { confirm: "Etes vous sur de vouloir supprimer cette utilisateur ?" }, :class => "far fa-trash-alt"%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
